<script>

  function initialize(){
      //Initialize the object defined in Your Posts
    console.log("Initalize")

    var selectable_values = ["Input Number", "Input Date", "Boolean"];
    var selectable_ID = ["inputNumber", "inputDate", "inputBoolean"];
    var current_ID = "#inputNumber";

    $( "#selectType" ).change(function() {

        $(current_ID).addClass("hidden_class");

        selected = $(this).find('option:selected').text();
        current_ID = selectable_ID[selectable_values.indexOf(selected)];

        current_ID = '#' + current_ID;
        console.log(current_ID);

        $(current_ID).removeClass("hidden_class")

    });
 }


	function initialize2(){
	    //Initialize the object defined in NewsLetter Generator
	    if (typeof pageObject == "undefined"){
	        pageObject = new pageIndex(<%= @category.length %>, "itemPosts3", "pagenumber2");
        }

      pageObject.initialize('.a_mail', 'posts3');

      initialize()

	}

  $(document).ready(initialize2);
  $(document).on('page:load', initialize2);

</script>


<h3>Manage Posting Categories</h3>
<hr>

<div class="row">

  <div class="col-xs-4">

    <div id="panel-error">
        <%= render :partial => "requirement_categories/requirementpartial/categoryerror" %>
    </div>


		<%= form_for :requirement_category, :url => '/requirement_categories#create', :remote => true, :html => {:id => "input_form"} do |f| %> 

			<%= f.text_field :category_name, placeholder: "Title of Category", :class => "form-control span90"  %>
			<br>

			<%= f.submit "Add New Category", class: "btn btn-default" %>
		<% end %>

		<hr>


  		<div class="text-center">
  			<div class="btn-group">
    			<button type="button" class="btn btn-default" 
    			onclick="pageObject.decrement()">Prev</button>

   			<button type="button" class="btn btn-default disabled" id="pagenumber2">1</button>

    			<button type="button" class="btn btn-default" 
    			onclick="pageObject.increment()">Next</button>
  			</div>
  		</div>

  		<div class="row" style="height:5px"></div>

  		  <ul id="itemPosts3" class="nav nav-tabs nav-stacked">

            <%= render :partial => "users/partials/category/categoryPosts" %>

  	    </ul>

  </div>

  <div class="col-xs-8">

    <%= render :partial => "requirement_categories/requirementpartial/addcategory" %>

    <hr>

		<div class="panel-content" id= "posts3" >

        	<%= render :partial => "users/partials/category/categoryPostsInfo" %>

		</div>

  </div>


</div>