<%= form_for :requirement_subcategories, :url => '/requirement_subcategories#create', :remote => true, :html => {:id => "add_subcategory"} do |f| %> 

    <hr>

    <div id="category-error">
        <%= render :partial => "requirement_categories/requirementpartial/categoryerror" %>
    </div>

    <%= f.text_field :item_title, placeholder: "Category Label", :class => "form-control span70" %>

    <%= f.hidden_field :category, :value => "empty" %>
    <br>

    <div class="row"> 

        <div class="col-xs-3">
            <b>Category Name: </b><p><div id='CategoryType'>[None]</div></p>

            <div id="selectType">
                <%= f.label :column_type, "Input Type: " %><br>
                <%= f.select(:column_type, [["Input Number", 1], ["Input Date", 2], ["Boolean", 3], ["Input Field", 4]]) %>
            </div>

            <br>
            <%= f.check_box(:student_attribute) %>
            <b>Student Attribute</b>
        </div>

        <div class="col-xs-9">
            <b>Output:</b>
        </div>
    </div>

    <div id="inputNumber">
        <hr>
        <p>Input Single Number e.g. [CSC 412 grade: Min 0, Max 100]</p>
        
        <%= f.check_box(:min_value) %>
        <b>Add Minimum Value</b>
        <%= f.text_field :minimumValue, placeholder: "Minimum value", :class => "form-control span40" %>
        <br>
        <%= f.check_box(:max_value) %>
        <b>Add Maximum Value</b>
        <%= f.text_field :maximumValue, placeholder: "Maximum value", :class => "form-control span40" %>
        <br>
        <%= f.check_box(:decimal) %>
        <b>Allow Decimals</b>
    </div>

    <div id="inputDate" class="hidden_class">
        <hr>
        <p>Input Single Date e.g. [Graduate Date: December 4, 2015]</p>

        <%= f.check_box(:before_date) %>
        <%= label_tag(:before_date, "Add Earliest Date") %><br>
        <%= f.date_select "user", prefix: :start_date %>

        <br><br>
        <%= f.check_box(:after_date) %>
        <%= label_tag(:after_date, "Add Latest Date") %><br>
        <%= f.date_select "user", prefix: :end_date %><br>
    </div>

    <div id="inputBoolean" class="hidden_class">
        <hr>
        <p>Simple CheckBox: e.g. International Student</p>

        <%= f.check_box(:boolean_attribute) %>
        <%= label_tag(:boolean_attribute, "Default True") %>
    </div>

    <div id="inputfield" class="hidden_class">
        <hr>
        <p>Input Field: e.g. Email Regex: [A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}</p>

        <%= f.check_box(:regex) %>
        <%= label_tag(:regex, "Set Regex") %>
        <%= f.text_field :regex_equation, placeholder: "Regex expression", :class => "form-control span40" %><br>

        <%= f.check_box(:max_str_len) %>
        <%= label_tag(:max_str_len, "Set Maximum Length") %>
        <%= f.text_field :input_max_length, placeholder: "Maximum Length", :class => "form-control span40" %><br>

        <%= f.check_box(:min_str_len) %>
        <%= label_tag(:min_str_len, "Set Minimum Length") %>
        <%= f.text_field :input_min_length, placeholder: "Minimum Length", :class => "form-control span40" %><br>

        <%= f.check_box(:placeholder) %>
        <%= label_tag(:placeholder, "Add Input Placeholder") %>
        <%= f.text_field :placeholder_value, placeholder: "Placeholder", :class => "form-control span40" %><br>

    </div>



    <br>

    <div id="alert" class="alert alert-warning span40" role="alert">Please select a Requirement Category</div>

    <%= f.submit "Add New Requirement", class: "btn btn-default disabled",
        :id => "submit_tag"  %>

<% end %>