<h3>Requirement SubCategories</h3>

<% @subcategory.each do |item| %>
	<div class="panel panel-default">
		<div class="panel-heading"><b><%= item.sub_category_name %></b></div>

		<div class="panel-body">

			<% if item.attribute_type == "InputNumber" %>
				<b>Input Number</b>
				<% if item.upper_limit %>
					<p><b>Upper Limit:</b> <%= item.upper_limit %></p>
				<% end %>
				<% if item.lower_limit %>
					<p><b>Lower Limit:</b> <%= item.lower_limit %></p>
				<% end %>
				<% if item.regex %>
					<p><b>Allows Decimals:</b></p>
				<% end %>

			<% elsif item.attribute_type == "InputDate" %>
				<b>Input Date</b>
				<% if item.upper_limit %>
					<p><b>Latest Date:</b> <%= item.upper_limit %></p>
				<% end %>
				<% if item.lower_limit %>
					<p><b>Earlist Date:</b> <%= item.lower_limit %></p>
				<% end %>

			<% elsif item.attribute_type == "Boolean" %>
				<b>Boolean</b>
				<% if item.placeholder == "1" %>
					<p><b>Default True</b></p>
				<% else %>
					<p><b>Default False</b></p>
				<% end %>

			<% else %>
				<b>Input Field</b>
				<% if item.regex %>
					<p><b>Input Regex:</b> <%= item.regex %></p>
				<% end %>
				<% if item.lower_limit %>
					<p><b>Minimum Length:</b> <%= item.lower_limit %></p>
				<% end %>
				<% if item.upper_limit %>
					<p><b>Maximum Length:</b> <%= item.upper_limit %></p>
				<% end %>
				<% if item.placeholder %>
					<p><b>Placeholder Text:</b> <%= item.placeholder %></p>
				<% end %>

			<% end %>

			<% if item.student_attribute %>
				<p><b>Student Attribute</b></p>
			<% end %>

		</div>

	</div>
<% end %>