<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="dcsupp">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="col-md-6 col-md-offset-3">
      <p>hi</p>
      <ui-view></ui-view>
    </div>


</body>
</html>